#form_name_fact{
	width:100%; 
	float:left;
}
div.form_data{
	width:300px; 
	float:left;
}
.float_form{
	float:left;
}
input.name_form{
	width:163px;
	margin-left:28px;
}
input.trade_name_form{
	width:163px;
	margin-left:16px;
}
input.address_form{
	width:163px;
	margin-left:30px;
}
input.city_form{
	width:163px;
	margin-left:43px;
}
input.phone_form{
	width:163px;
	margin-left:23px;
}
input.phone_office_form{
	width:163px;
	margin-left:30px;
}
input.neighborhood_form{
	width:163px;
	margin-left:40px;
}
.state_form{
	width:180px;
	margin-left:42px;
}
input.rfc_form{
	width:163px;
	margin-left:70px;
}
input.postal_code_form{
	width:163px;
	margin-left:10px;
}
input.email_form{
	width:163px;
	margin-left:42px;
}
input.numbercredicard{
	width:200px;
	margin-left:10px;
}
#month_expiration{
	width:212px !important;
	margin-left:90px !important;
}
#year_expiration{
	width:200px !important;
	margin-left:90px !important;
}
#cvv_code{
	width:200px !important;
	margin-left:23px !important;
}
.credicard_panel{
	width: 500px !important;
}
#last_name{
	width: 163px;
	margin-left: 23px;
}
#check_shipping{
	margin-left: 5px;
	margin-right: 5px;
}
/*seguir comprando*/
#car_title_area{
	margin-bottom:10px;
}
#seguir_comprando{
	display:block;
	float:left;
}
#img_carrito{
	float:left;
	margin-left:2px;
}
#car_title{
	width:800px;
	height:40px;
	float:left;
	margin-left:32px;
}
#car_following{
	width:140px;
	background-color: #ffffff;
	float:left;
	margin-left:16px;
	height:40px;
}
#link_shopping{
	margin-top:9px;
	background-color: #ffffff;
	float:left;
	width:140px;
	margin-left:0px;
}
.car_color_title{
	background-color: #C1DFE7;
}
#tu_carrito_compra{
	display:block;
	margin-top:10px;
	color:#034970;
	font-family: 'sofia_prolight',​Arial,​Helvetica,​sans-serif;

	font-size:23px;
	margin-left:10px;
}