body { overflow-x: hidden; }
html { overflow-x: hidden; }
/*--------------------------------fonts ----------------------------------------- */
@font-face {
    font-family: 'gotham-medium';
    src: url('fonts/gotham-medium.eot');
    src: local('☺'),
    url('fonts/gotham-medium.woff') format('woff'),
    url('fonts/gotham-medium.ttf') format('truetype'),
    url('fonts/gotham-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham';
    src: url('fonts/gotham.eot');
    src: local('☺'),
    url('fonts/gotham.woff') format('woff'),
    url('fonts/gotham.ttf') format('truetype'),
    url('fonts/gotham.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-light';
    src: url('fonts/gotham-light-1361523255.eot');
    src: local('☺'),
    url('fonts/gotham-light-1361523255.woff') format('woff'),
    url('fonts/gotham-light-1361523255.ttf') format('truetype'),
    url('fonts/gotham-light-1361523255.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------------------------header ----------------------------------------- */
.texto-header{
    font-size: 16px;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
}
.texto-header-contact{
    font-size: 16px;
}
.texto-header-contact > a{
    color: #6C6D6F;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
}
.texto-header-contact > a:hover, .texto-header-contact > a:focus{
    outline: 0;
    color: #D82220;
    text-decoration: none;
}
.margen-top-texto-header{
    margin-top: 6px;
}
.nav-tipo-moneda > li > a {
    display: block;
    padding: 6px 15px;
    position: relative;
}
.link-to-cart{
    outline: 0;
    color: #D82220;
}
.link-to-cart:hover, .link-to-cart:focus{
    outline: 0;
    text-decoration: none;
    color: #D82220;
}
.logo-header-link:hover, .logo-header-link:focus{
    outline: 0;
}
.padding-for-logo-header{
    padding-top: 7px;
    padding-bottom: 7px;
}
/* -----------------------------------------nav del header -----------------------------------------*/
.color-klamore-rosado{
    background-color: #F7BEA0;
}
.color-difusa-menu{
    background-color: #D82220;
}
.color-difusa-menu2{
    background-color: #FFF;
    color: #fbf;
}

.nav-top-header > li > a{
    color: #fff;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    padding: 7px 15px;
}
.nav-top-header > li > a:focus, .nav-top-header > li > a:hover{
    color: #fff;
	font-weight: bold;
    background-color: #D82220;
    text-decoration: underline;
    outline: 0;
}
.menu_gral li ul {
	position: absolute;
	width: 0;
	overflow: hidden;
	color: #000;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
}
.menu_gral li li {
	display: block;
	width: 100%;
	color: #000;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
}
.menu_gral li:hover ul, #menu_gral li:focus ul {
	width: 100%;
	z-index: 5;
	color: #fff;
    background-color: #D82220;
    text-decoration: underline;
    outline: 0;
}
.nav-top-header > li.active > a, .nav-top-header > li.active > a:focus, .nav-top-header > li.active > a:hover {
    background-color: #D82220;
    color: #fff;
	font-weight: bold;
    text-decoration: underline;
}
.margen-top-busq-header{
    padding-top: 6px;
}
.altura-input-busqueda{
    height: 30px;
}
.altura-input-busqueda2{
    height: 30px;
    width: 15px;

}
.btn_img_searc{
    text-decoration: none;
}
.btn_img_searc:hover, .btn_img_searc:focus{
    outline: 0;
    text-decoration: none;
}
.navbar-header-xs {
    background-image: linear-gradient(to bottom, #D82220 0px, #D82220 100%);
    background-repeat: repeat-x;
    background-color: #D82220;
    border-radius: 0px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}
/* -----------------------------------------carousel -----------------------------------------*/
.margen-top-carousel-principal{
    margin-top: 2px;
}
.ancho-img-carousel-principal{
    width: 100%;
}

.control-left-caro-top.left {
    background-image: none;
}
.control-left-caro-top .glyphicon-chevron-left, .control-left-caro-top .icon-prev {
    margin-left: -45%;
}
.control-left-caro-top .caro-flecha-left:before {
    content: " ";
    display:block;
    background:url('../img/izquierda.png') no-repeat;
    width:32px;
    height:63px;
}
.control-right-caro-top.right {
    background-image: none;
}
.control-right-caro-top .glyphicon-chevron-right, .control-right-caro-top .icon-next {
    margin-right: -45%;
}
.control-right-caro-top .caro-flecha-right:before {
    content: " ";
    display:block;
    background:url('../img/derecha.png') no-repeat;
    width:32px;
    height:63px;
}

.link-img-carousel:hover, .link-img-carousel:focus{
    outline: 0;
}
/* -----------------------------------------carousel para los productos-----------------------------------------*/
.control-left-caro-produ.left {
    background-image: none;
}
.control-left-caro-produ .glyphicon-chevron-left, .control-left-caro-produ .icon-prev {
    margin-left: -45%;
}
.control-left-caro-produ .caro-flecha-left:before {
    content: " ";
    display:block;
    background:url('../img/izquierda.png') no-repeat;
    width:32px;
    height:63px;
}
.control-right-caro-produ.right {
    background-image: none;
}
.control-right-caro-produ .glyphicon-chevron-right, .control-right-caro-produ .icon-next {
    margin-right: -45%;
}
.control-right-caro-produ .caro-flecha-right:before {
    content: " ";
    display:block;
    background:url('../img/derecha.png') no-repeat;
    width:32px;
    height:63px;
}
/* -----------------------------------------carousel para los productos en xs-----------------------------------------*/
.carousel-control-pro-xs.left{
    background-image: none;
}
.carousel-control-pro-xs.right{
    background-image: none;
}
/* -----------------------------------------carousel para las imagenes de más anillos------------------*/
.carousel-inner-img-ring {
    width: 100px;
}
.control-left-caro-ring.left {
    background-image: none;
}
.carousel-control-ring{
    color: #F7BEA0;
}
.carousel-control-ring:hover, .carousel-control-ring:focus{
    color: #6c6d71;
}
.carousel-control-ring .glyphicon-chevron-left, .carousel-control-ring .glyphicon-chevron-right, .carousel-control-ring .icon-next, .carousel-control-ring .icon-prev {
    top: 0%;
    font-size: 20px;
    height: auto;
    margin-top: 0px;
    width: 10px;
}
.carousel-control-ring .glyphicon-chevron-left, .carousel-control-ring .icon-prev {
    margin-left: 0px;
}
.carousel-control-ring .glyphicon-chevron-right, .carousel-control-ring .icon-next {
    margin-right: 0px;
}
.control-right-caro-ring.right {
    background-image: none;
}
/* -----------------------------------------carousel para productos relacionados------------------*/
.control-left-related.left{
    background-image: none;
}
.control-right-related.right{
    background-image: none;
}
.carousel-control-related{
    color: #F7BEA0;
    width: 0px;
}
.carousel-control-related:hover, .carousel-control-related:focus{
    color: #6c6d71;
}
.link_related_product:hover, .link_related_product:focus{
    outline: 0;
}
.container-related-product:hover, .container-related-product:focus{
    background-color: #FCEDE8;
}
/* -----------------------------------------home-----------------------------------------*/
.color-cuadro-home{
    background-color: #FDEEE9;
}
.title-cuadro-home{
    color: #6E6D72;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.subtitle-cuadro-home{
    color: #828187;
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.link-cuadros-home:hover, .link-cuadros-home:focus{
    outline: 0;
}
.padding-0{
    padding: 0px;
}
.texto-titulo-cuadros{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #6E6D72;
    margin-top: -5px;
}
.texto-descripcion-cuadros{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6F6F71;
    font-size: 11px;
}
.btn-mayor-info-cuadros{
    background-color: #000;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #000;
    text-shadow: none;
    color: #fff;
    font-size: 10px;
    border-radius: 0px;
    padding: 4px 14px;
}
.btn-mayor-info-cuadros:focus, .btn-mayor-info-cuadros:hover{
    background-color: #000;
    color: #fff;
}
.height-for-xs-container{
    height: 8px;
}
/* -----------------------------------------titulo de sección-----------------------------------------*/
.color-barra-seccion{
    background-color: #D82220;
}
.texto-barra-seccion{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 6px;
}
/* -----------------------------------------seccion de facturacion-----------------------------------------*/
#factura
{
    float: right;   
    margin-right: 10%;     
}
#cliente
{
    float: left;
    width: 30%;
    margin-left: 3%;    
}
/* -----------------------------------------footer-----------------------------------------*/
.color-footer{
    background-color: #D82220;
}
.nav-footer{
    margin-top: 18px;
}
.nav-footer > li > a {
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    padding: 0px;
    color: #fff;
    font-size: 12px;
}
.nav-footer > li > a:focus, .nav-footer > li > a:hover{
    background-color: #D82220;
    color: #fff;
	font-weight:bold;
    text-decoration: underline;
    outline: 0;
}
.texto-copyright{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
}
.texto-titulos-footer{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #fff;
	font-weight:bold;
    font-size: 12px;
    border-bottom: solid #fff 1px;
    padding-bottom: 4px;
}
/* -----------------------------------------Contacto-----------------------------------------*/
.label-contact{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D6F;
    font-weight: normal;
}
.control-contact{
    background-color: #E6E6E6;
}
.texto-info-contact{
    color: #A0A1A3;
    font-size: 14px;
}
.texto-horario-contacto{
    color: #6B6C70;
    font-size: 18px;
}
.btn-contac-form{
    background-image: none;
    background-repeat: no-repeat;
    border-color: #000;
    background-color: #000;
}
.btn-contac-form:focus, .btn-contac-form:hover{
    background-color: #6B6C70;
    outline: 0;
}
/* -----------------------------------------Anillos de compro-----------------------------------------*/
.color-container-cate-rings{
    background-color: #FDEEE9;
}
.actual-rings-cate{
    background-color: #F7BEA0;
}
.actual-rings-cate > div > div > h4{
    color: #fff;
}
.actual-rings-cate > div > div > p{
    color: #fff;
}
.actual-rings-cate-des{
    background-color: #F7BEA0;
}
.actual-rings-cate-des > div > div > h4, .actual-rings-cate-des > div > div > p{
    color: #fff;
}
.center-img{
    margin: 0 auto;
}
.text-name-cate-rings{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6D6E72;
    margin-top: 40px;
}
.text-description-cate{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6D6E72;
    margin-top: 40px;
    height: 150px;
}
.text-description-cate-xs{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6D6E72;
    margin-top: 0px;
}
.title-description-cate{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6D6E72;
}
.height-text-cate-rings{
    height: 50px;
}
.line-section-products{
    border-top: solid 2px #F9DFD2;
}
.line-section-products-xs{
    border-top: solid 2px #F9DFD2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-name-product-in-cate{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #F66262;
}
.text-price-in-cate{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #6D6E72;
    font-weight: bold;
}
.container-product-in-cat:hover{
    background-color: #F66262;
}
.container-product-in-cat:hover > a > div > div > h5{
    color: #fff;
}
.link-container-ring{
    text-decoration: none;
}
.link-container-ring:hover, .link-container-ring:focus{
    outline: 0;
    text-decoration: none;
}
.container-product-in-cat:hover > a > div > div > h6{
    color: #fff;
}
.container-product-in-cat:hover > a > div > div > h6 > span{
    color: #000;
}
.height-img-cate{
    margin-top: 70px;
    margin-bottom: 20px;
}
.link-view-more-products{
    margin-top: 20px;
    font-size: 30px;
    color: #F72121; 
}
.link-view-more-products:hover, .link-view-more-products:focus{
    outline: 0;
    text-decoration: none;
    color: #7A7B7F;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover{
    background-color: #F72121;
    border-color: #F7BEA0;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > li > a{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #6d6e72;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li > a:hover, .pagination > li > a:focus{
    outline: 0;
}
/* -----------------------------------------Anillo-----------------------------------------*/
.form-control-ring{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6D6D6F;
    display: block;
    font-size: 12px;
    height: 28px;
    line-height: 1.42857;
    padding: 6px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-top: 10px;
}
.form-control-ring-qty{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6D6D6F;
    display: block;
    font-size: 12px;
    height: 28px;
    line-height: 1.42857;
    padding: 6px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
    margin-top: 10px;
}
.plus-for-qty{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #6D6D6F;
    text-decoration: none;
    position: absolute;
    display: block;
    right: 15px;
    top: 7px;
    z-index: 9;
}
.plus-for-qty:hover, .plus-for-qty:focus{
    text-decoration: none;
    outline: 0;
    color: #F7BEA0;
}
.form-control-label{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6D6D6F;
    margin-top: 11px;
    font-weight: normal;
    font-size: 14px;
}
.text-top-product{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D71;
    font-size: 26px;
}
.text-price-product{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D71;
    font-size: 25px;
}
.number-price-product{
    color: #d82220;
    font-size: 20px;
}
.text-description-product{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D71;
    font-size: 18px;
}
.line-for-description_product{
    border-top: solid 1px #F5CFBD;
    margin-top: -4px;
    margin-left: 12px;
    width: 95% !important;
}
.margin-top-for-description{
    margin-top: 5px;
}
.text-content-description{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D71;
    font-size: 14px;
}
.btn-solicitar-asesoria{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    background-repeat: repeat-x;
    border-radius: 0px;
    font-size: 20px;
    line-height: 1.33333;
    padding: 5px 16px;
    display: block;
    width: 100%;
}
.a-solicitar-asesoria{
    color: #000;
}
.a-solicitar-asesoria:hover, .a-solicitar-asesoria:focus{
    text-decoration: none;
    color: #6C6D71;
    outline: 0;
}
.btn-enviar-a-lista{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    line-height: 1.33333;
    padding: 15px 16px;
    font-size: 20px;
    background-color: #d82220;
    color: white;
}
.btn-enviar-a-lista:hover, .btn-enviar-a-lista:focus{
    text-decoration: none;
    background-color: #d82220;
    color: white;
}
.link-volver-in-product{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D71;
    font-size: 12px;
}
.link-volver-in-product > p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.link-volver-in-product:hover, .link-volver-in-product:focus{
    color: #F7BEA0;
    font-size: 12px;
    outline: 0;
    text-decoration: none;
}
.mar-top-carousel-more-prod{
    margin-top: 30px;
}
.top-img-more-prod{
    margin-top: 50px;
}
.border-more-products{
    border: solid 2px #EEEEEE;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 90px;
}
.link-to-border-more-products{
    text-decoration: none;
}
.link-to-border-more-products:hover, .link-to-border-more-products:focus{
    outline: 0;
}
.border-more-products:hover, .border-more-products:focus{
    border: solid 2px #F7BEA0;
}
.top-img-the-now-ring{
    margin-top: 60px;
}
.add-cart-modal-body{
    padding: 0px;
}
.add-cart-modal-body > img{
    width: 100%;
}
.img-modal-cart{
    margin-top: 10px;
}
.padding-add-cart-modal-content{
    padding: 10px 25px;
}
.img-logo-modal-add-cart{
    margin: 0 auto;
    margin-right: 0%;
}
.color-add-cart-modal{
    background-color: #F66262;
}
.line-add-cart-modal{
    border-top: solid 1px #fff;
    padding: 0px;
    margin-top: -20px;
    width: 95%;
    margin-left: 10px;
}
.btn-go-to-cart-modal{
    background-image: linear-gradient(to bottom, #F66262 0px, #F66262 100%);
    background-repeat: repeat-x;
    border-color: #F66262;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #000;
    border-radius: 0px;
    line-height: 1.33333;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
}
.btn-go-to-cart-modal:hover, .btn-go-to-cart-modal:focus{
    text-decoration: none;
    color: #6C6D6F;
}
.btn-return-category-modal{
    background-image: linear-gradient(to bottom, #000 0px, #000 100%);
    background-repeat: repeat-x;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    line-height: 1.33333;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
}
.btn-return-category-modal:hover, .btn-return-category-modal:focus{
    text-decoration: none;
    color: #F7BEA0;
}
.container-info-add-cart-modal{
    background-color: #fff;
    padding: 10px 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.top-container-info-add-cart{
    margin-top: -15px;
}
.text-title-add-cart-modal{
    color: #000;
    font-weight: bold;
}
.text-info-add-cart-modal{
    color: #929294;
    font-size: 16px;
}
/* -----------------------------------------cart-----------------------------------------*/
.hidden-sections-cart{
    display: none;
}
.color-1-cart-table{
    background-color: #FDE4DF;
}
.color-2-cart-table{
    background-color: #FDEEE9;
}
.title-cart-table{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6E6E70;
    font-size: 12px;
}
.details-cart-table{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6B6E73;
    font-size: 16px;
}
.sub-details-cart-table{
    color: #6B6E73;
    font-size: 12px;
}
.container-cart-table{
    height: 210px;
}
.container-amounts-cart-table{
    height: 45px;
}
.margin-amounts-cart-table{
    margin-top: 15px;
}
.img-delete-product{
    margin-top: 60px;
}
.margin-detail-cart-table{
    margin-top: 50px;
}
.btn-cotizar{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #F7BEA0 0px, #F7BEA0 100%);
    background-repeat: repeat-x;
    border-color: #F7BEA0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #F7BEA0;
    color: #000;
    border-radius: 0px;
    line-height: 1.33333;
    padding: 10px 16px;
    font-size: 18px;
}
.btn-cotizar:hover, .btn-cotizar:focus{
    text-decoration: none;
    color: #6C6D6F;
}
.btn-ordenar{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #000 0px, #000 100%);
    background-repeat: repeat-x;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    line-height: 1.33333;
    padding: 10px 16px;
    font-size: 18px;
}
.btn-ordenar:hover, .btn-ordenar:focus{
    text-decoration: none;
    color: #F7BEA0;
}
.link-return-product-cart:hover, .link-return-product-cart:focus{
    outline: 0;
}
.link-remove-product-cart:hover, .link-remove-product-cart:focus{
    outline: 0;
}
.text-tiempo-entrega{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D6F;
    font-size: 14px;
}
/* -----------------------------------------summary-----------------------------------------*/
.container-summary{
    margin-left: 3px;
    margin-right: 3px;
}
.color-container-summary{
    background-color: #FCE3DE;
}
.text-summary{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #6C6D6F;
    font-size: 14px;
    margin-left: 20px;
}
.text-summary-title{
    color: #000;
}
/* -----------------------------------------conoce tu medida-----------------------------------------*/
.step-for-measure{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10%;
    color: #6d6e72;
}
.step-for-measure-xs{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6d6e72;
}
.container-step-measure{
    background-color: #FDEEE9;
    padding: 10px 20px;
}
.text-for-measure{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6d6e72;
}
.table-measure > thead{
    background-color: #000;
}
.table-measure > thead > tr > th{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}
.table-measure > tbody > tr > td{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
}
.color-section-table{
    background-color: #F7BEA0;
}
.numero-medida{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    margin-top: 5px;
}
.circulo-medida{
    margin-top: 10px;
    padding: 10px 0px;
    margin-left: 50%;
}
.medida-3{
    border-radius: 50%;
    width: 52.913385827px;
    height: 52.913385827px;
    background: #F7BEA0;
}
.medida-3-5{
    border-radius: 50%;
    width: 54.803149606px;
    height: 54.803149606px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-4{
    border-radius: 50%;
    width: 56.31496063px;
    height: 56.31496063px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-4-5{
    border-radius: 50%;
    width: 57.826771654px;
    height: 57.826771654px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-5{
    border-radius: 50%;
    width: 58.960629921px;
    height: 58.960629921px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-5-5{
    border-radius: 50%;
    width: 60.472440945px;
    height: 60.472440945px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-6{
    border-radius: 50%;
    width: 62.362204724px;
    height: 62.362204724px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-6-5{
    border-radius: 50%;
    width: 63.874015748px;
    height: 63.874015748px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-7{
    border-radius: 50%;
    width: 65.007874016px;
    height: 65.007874016px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-7-5{
    border-radius: 50%;
    width: 66.519685039px;
    height: 66.519685039px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-8{
    border-radius: 50%;
    width: 68.031496063px;
    height: 68.031496063px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-8-5{
    border-radius: 50%;
    width: 69.921259843px;
    height: 69.921259843px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-9{
    border-radius: 50%;
    width: 71.433070866px;
    height: 71.433070866px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-9-5{
    border-radius: 50%;
    width: 72.94488189px;
    height: 72.94488189px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-10{
    border-radius: 50%;
    width: 74.456692913px;
    height: 74.456692913px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-10-5{
    border-radius: 50%;
    width: 76.346456693px;
    height: 76.346456693px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-11{
    border-radius: 50%;
    width: 77.858267717px;
    height: 77.858267717px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-11-5{
    border-radius: 50%;
    width: 79.37007874px;
    height: 79.37007874px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-12{
    border-radius: 50%;
    width: 81.25984252px;
    height: 81.25984252px;
    background: none repeat scroll 0 0 #F7BEA0;
}
.medida-12-5{
    border-radius: 50%;
    width: 82.771653543px;
    height: 82.771653543px;
    background: none repeat scroll 0 0 #F7BEA0;
}
/* -----------------------------------------calidad y confianza-----------------------------------------*/
.text-quality{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}
.container-quality{
    background-color: #F7BEA0;
}
.container-quality > h3{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 0px;
}
/* -----------------------------------------mantenimiento de por vida-----------------------------------------*/
.text-garantia{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    color: #000;
}
.text-garantia-1{
    font-size: 16px;
}
.text-garantia-negrita{
    font-weight: bold;
}
.text-garantia-2{
    font-size: 10px;
}
/*--------------------------------nosotros ----------------------------------------- */
.container-aboutus-1{
    height: 250px;
}
.container-aboutus-2{
    height: 250px;
}
.color-container-aboutus-1{
    background-color: #F7BEA0;
}
.color-container-aboutus-2{
    background-color: #FDF2F0;
}
.title-aboutus-1{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000;
    margin-top: 35px;
}
.title-aboutus-2{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #6D6E70;
    margin-top: 35px;
}
.text-aboutus-1{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin-top: 10px;
}
.text-aboutus-2{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6D6E70;
    margin-top: 30px;
}
/*-------------------------------breadcrumb----------------------------------------*/
.breadcrumb li {
    display: inline;
}
.breadcrumb{
	background-color: #fff;
}
.breadcrumb li+li:before {
    content:"» ";
}
.container
{
    position: relative;
}
/*-------------------------------panel--------------------------------------------*/

#menusbar
{
    float: left;
    text-align: right;
}
#panelcontainer
{
    position: relative;
    width: 75%;
    margin: 5% auto;
    text-align: left;
}
#titlepanel
{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 14px;   
}
#welcome
{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    overflow: auto;
}
.info
{
    font-family: 'gotham-light', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    border-bottom-width: medium;
    overflow: auto;
}
#options
{
    float: left;
    margin-top: 60px;
}
.menu
{
    display: inline-block;
}
#orders
{
    margin-top: 100px;
}
.rowstable
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    overflow: auto;
}
.rowstable td
{    
    text-align: center;
    width: 280px;
    height: 25px;
}
#nombreProducto
{
    width: 200px;
}
.rowstable th
{
    background-color: #D82220;
    border-bottom: solid 5px;
    border-color: #D82220;
    text-align: center;
    color: #ffffff;    
}
.rowstable tr:hover td 
{    
    background: #EBDDDD;
}
#infor
{
    width: 760px;
    overflow: auto;
}
#izquierda, #derecha
{
    width: 330px;
}
#izquierda
{
    float: left;
}
#derecha
{
    float: right;
}
input:hover
{ 
    background: #ECFFFF;
}
button:hover
{
    background: #111;
}
#total
{
    width: 100px;
    text-align: right;
}
#ids
{
    width: 50px;
}
#prods
{
    width: 150px;
}
#mensaje
{
    height: 85px;    
}
#news
{
    text-align: left;
    width: 80px;
    height: 25px;
}
#ajustar
{         
    overflow: auto;
}
#menu2
{
    height: auto;
    margin-left: 100px;
    overflow: hidden;
    text-align: center;
    width: 960px;
}
.boxpr2
{
  margin-right:10px;
  display: inline-block;
  background-color: white;
  color:#980808;
  padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
    height: 470px;
    font-size: 14px;
    box-shadow: 0px 0px 3px #000;
  border-radius: 20px;  
}
div.boxpr2:hover > .linkcart
{
  background-color: #EC3735;
  color: white;
  cursor: pointer;
}
.boxpr2:hover
{
  background-color: #EC3735;
  color: white;
  cursor: pointer;
  -webkit-animation: boxpr2 infinite alternate linear 0.5s;
  -moz-animation: boxpr2 infinite alternate linear 0.5s;
  -ms-animation: boxpr2 infinite alternate linear 0.5s;
  -o-animation: boxpr2 infinite alternate linear 0.5s;
  animation: boxpr2 infinite alternate linear 0.5s;
  opacity: 1 !important;
  visibility: visible !important;
}
.boxpr3
{
  margin-right:40px;
  margin-left: 60px;
  display: inline-block;
  background-color: white;
  color:#980808;
  padding-top: 10px;
    margin-bottom: 45px;
    text-align: center;
    width: 280px;
    height: 440px;
    font-size: 14px;
    box-shadow: 0px 0px 3px #000;
  border-radius: 20px;  
}
div.boxpr3:hover > .linkcart
{
  background-color: #EC3735;
  color: white;
  cursor: pointer;
}
.legend
{
    text-align: center;
    -webkit-animation: boxpr2 infinite alternate linear 0.8s;
  -moz-animation: boxpr2 infinite alternate linear 0.9s;
  -ms-animation: boxpr2 infinite alternate linear 0.9s;
  -o-animation: boxpr2 infinite alternate linear 0.9s;
  animation: boxpr2 infinite alternate linear 0.9s;
  opacity: 1 !important;
  visibility: visible !important;
}
.boxpr3:hover
{
  background-color: #EC3735;
  color: white;
  cursor: pointer;
  -webkit-animation: boxpr2 infinite alternate linear 0.5s;
  -moz-animation: boxpr2 infinite alternate linear 0.5s;
  -ms-animation: boxpr2 infinite alternate linear 0.5s;
  -o-animation: boxpr2 infinite alternate linear 0.5s;
  animation: boxpr2 infinite alternate linear 0.5s;
  opacity: 1 !important;
  visibility: visible !important;
}
@-webkit-keyframes boxpr2 {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
  }
}
@-moz-keyframes boxpr2 {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(1.02);
  }
}
@-ms-keyframes boxpr2 {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(1.02);
  }
}
@-o-keyframes boxpr2 {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(1.02);
  }
}
@-moz-keyframes boxpr2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@-webkit-keyframes boxpr2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@-o-keyframes boxpr2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@keyframes boxpr2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
div>p
{
    font-size: 15px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}   
.moneda input
{
    border:none;
}
.monedastyle
{
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;   
    text-align: left;
}
#menu-admin
{
    background-color: #d82220;
    -webkit-box-shadow: 3px 3px 8px #111100;
}
.comentarios
{
    width:50%;
    -webkit-border-radius: 15px;
    -mox-border-radius: 15px;
    -border-radius: 15px;
    -webkit-box-shadow: 12px 8px 6px #979494;
    -moz-box-shadow: 12px 8px 6px #979494;
    box-shadow: 12px 8px 6px #979494;
}
.comentarios:focus
{
    -webkit-outline:0px;
    -moz-outline:0px;
    outline:0px;
    -webkit-box-shadow: 12px 8px 6px #3A3939;
    -moz-box-shadow: 12px 8px 6px #3A3939;
    box-shadow: 12px 8px 6px #3A3939;
}

.registrate
{
    font-size: 16px;
}

#aqui
{
    font-size: 16px;
    width: 8%;
}

#productos
{
    text-align: center;
}

#paginador
{
    text-align: center;   
}
